/* Container principal */
.container {
    display: flex;         
    flex-direction: column;   /* empilha os elementos */
    justify-content: center;  /* centraliza verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    min-height: 100vh;        /* ocupa toda a altura da tela */
    max-width: 600px; 
    margin: 0 auto; 
}

/* Imagem de perfil */
.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin-bottom: 15px;
    object-fit: cover;       
    object-position: top;    
    box-shadow: #5a3094 1px 1px 20px;
}

/* Título */
h3 {
    text-align: center;
    color: #0a0760;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px #00a2ff;
}

/* Container dos botões */
.links-container {
    display: flex;
    flex-direction: column; /* Empilha os botões verticalmente */
    gap: 15px; /* Espaço entre os botões */
    align-items: center; /* centraliza os botões */
}

/* Botões dos links */
.link-button {
    background-color: #5a3094; 
    color: #fff; 
    padding: 15px 25px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    font-size: 1.1em;
}

.link-button:hover {
    background-color: #7c4fc5; 
}
