* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #0D1B2A, #5a3094);
}

/* container IDIOMA */
.idioma {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

/* Container principal */
.container {
    display: flex;         
    flex-direction: column;   /* empilha os elementos */
    justify-content: center;  /* centraliza verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    min-height: 100vh;        /* ocupa toda a altura da tela */
    max-width: 600px;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 15px;
}


.profile-image {
    align-items: center;
    margin-top: 24px;
}

/* Imagem de perfil */
.profile-image img {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin-bottom: 15px;
    object-fit: cover;       
    object-position: top; 
    box-shadow: #41a901 1px 1px 20px;
}

/* Título */
h3 {
    text-align: center;
    font-size: 1.6em;

    color: #262626;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px #176400;
}

/* Container dos botões */
.produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    align-items: flex-start;
    background-color: #058f00;
    padding: 8px;
}

.imagem-produto {
    width: 100px;
    height: auto;
    border-color: 2px solid #e3e3e3;
}

.oferta {
    font-size: 18px;
    font-weight: bold;

}

.link-button {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    color: #e9e9e9;
}

/* Rodapé */
.footer {
    margin-top: 30px;
    margin-bottom: -10px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
        border-radius: 15px; 
}

.footer a {
    color: #000000;
    font-size: 1.0em;
    text-decoration:dotted underline #308f00;

}