* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #00a2ff, #5a3094);
}

/* Container principal */
.container {
    display: flex;         
    flex-direction: column;   /* empilha os elementos */
    justify-content: center;  /* centraliza verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    min-height: 100vh;        /* ocupa toda a altura da tela */
    max-width: 600px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 50px;
}


.profile-image {
    align-items: center;
}

/* Imagem de perfil */
.profile-image img {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin-bottom: 15px;
    object-fit: cover;       
    object-position: top; 
    box-shadow: #5a3094 1px 1px 20px;
}

/* Título */
h3 {
    text-align: center;
    color: #0a0760;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px #00a2ff;
}

/* Container dos botões */
.links-container {
    display: flex;
    width: 95%;
    flex-direction: column; /* Empilha os botões verticalmente */
    gap: 15px; /* Espaço entre os botões */
    align-items: center; /* centraliza os botões */

}


/* Botões dos links */
.link-button {
    width: 100%;
    background-color: #5a3094; 
    color: #fff; 
    padding: 15px 25px; 
    text-decoration: none; 
    border-radius: 15px; 
    transition: background-color 0.3s ease; 
    font-size: 1.1em;
}

.link-button img {
    height: 70px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 15px; 
}

.link-button:hover {
    background-color: #7c4fc5; 
}

/* Rodapé */
.footer {
    margin-top: 30px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}
