* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #0D1B2A, #5a3094);
}

/* Container principal */
.container {
    display: flex;         
    flex-direction: column;   /* empilha os elementos */
    justify-content: center;  /* centraliza verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    min-height: 100vh;        /* ocupa toda a altura da tela */
    max-width: 600px;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 15px;
}


.profile-image {
    align-items: center;
    margin-top: 24px;
}

/* Imagem de perfil */
.profile-image img {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin-bottom: 15px;
    object-fit: cover;       
    object-position: top; 
    box-shadow: #41a901 1px 1px 20px;
}

/* Título */
h3 {
    text-align: center;
    font-size: 1.6em;

    color: #262626;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px #176400;
}

/* Container dos botões */
.produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
    align-items: flex-start;
    background-color: #058f00;
    padding: 8px;
}

.imagem-produto {
    width: 100px;
    height: auto;
    border-color: 2px solid #e3e3e3;
}

.oferta {
    font-size: 18px;
    font-weight: bold;

}

.link-button {
    text-decoration: none;
    color: #e9e9e9;
}

/* Rodapé */
.footer {
    margin-top: 30px;
    margin-bottom: -10px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
        border-radius: 15px; 
}

.footer a {
    color: #000000;
    font-size: 1.0em;
    text-decoration:dotted underline #5cff0a;

}

/* PARA TELAS DE CELULARES */
@media (max-width: 600px) {
/* Estilos do Carrossel de Ofertas */
.carrossel-container {
    position: relative;
    left: -0px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.slide img {
    width: 130%;
}

.oferta_lado {
    font-size: 18px;
    font-weight: regular;
    line-height: 1.5;
    margin-left: 0;
}

.link-texto_lado_imagem {
    position: relative;
    top: 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.7);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
}

.prev {
    left: 5px;
    color: #e2cf00ca ;
    background-color: #9a9a9a47;
}

.next {
    right: 5px;
    color: #f9f900ca ;
    background-color: #9a9a9a47;
}
}

/* PARA TELAS DE COMPUTADOR */
@media (min-width: 1025px) and (max-width: 2015px) {


/* Estilos do Carrossel de Ofertas */
.carrossel-container {
    position: relative;
    left: 0px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.slide img {
    width: 116%;
}

.oferta_lado {
    font-size: 18px;
    font-weight: regular;
}

.link-texto_lado_imagem {
    position: relative;
    top: 14px;
    text-decoration: none;
    color: #ffffff;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.7);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
}

.prev {
    left: 5px;
    color: #e2cf00ca ;
    background-color: #9a9a9a47;
}

.next {
    right: 5px;
    color: #f9f900ca ;
    background-color: #9a9a9a47;
}
}